*{
  margin: 0;
  padding: 0;
  background-color:  #141414;
}
.Burger{
  display: none;
}
.KnopkaPoisk{
  display: none;
}
.DivKinoFilm{
  color: black;
  font-size: 50px;
  font-family: Roboto;
  font-weight: bolder;
  background: none;
  margin-left: 90px;
  width: 500px
}
.DivKinoFilm:hover{
  transform: scale(1.1);
  color: black;
  cursor: pointer;
}
.DivSearch{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height:70px;
  background-color: white;
}
.DivLink{
  width: 900px;
  display: flex;
  background-color: white;
}
.link{
  font-family: Roboto;
  line-height: 70px;
  color: #757575;
  text-decoration: none;
  font-size: 25px;
  background: none;
  margin-left: 90px;
}
.link:hover{
  transform: scale(1.1);
  color: black;
}
.FormInput{
  min-width: 0;
  max-width: 30%;
  min-width: 10%;
  background-color: white;
  height: 100%;
  flex: 0 0 30%;
}
.Poisk{
  box-sizing: border-box;
  background-color: white;
  border: 1px solid white;
  height: 100%;
  width: 100%;
  font-size: 20px;
}
.Poisk::placeholder {
  font-size: 20px;
}
input::placeholder {
  font-size: 30px;
}
.DivMain{
  background-color: white;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 200px;
}
.NameofFilm{
  font-family: 'Inter', sans-serif;
  background: none;
  font-size: 70px;
  height: 50px;
  font-weight: bolder;
  line-height: 50px;
  color: white;
  margin-bottom: 30px;
}
.PlachkaPleerov{
  font-family: 'Inter', sans-serif;
  width: 900px;
  display: flex;
  height: 40px;
  background-color: #858585;
  text-align: center;
  line-height: 40px;
  font-size: 35px;
  color: white;
  background: none;
}
.Pleer{
  margin-right: 10px;
  flex-grow: 1;
  cursor: pointer;
  background: none;
  border-radius: 5px;
}
.Trailer{
  cursor: pointer;
  flex-grow: 2;
  background-color: #fa0400;
  border-radius: 5px;
}
.Pleer:first-of-type{
  background-color: #00ff0d;
}
.DivNameAndPleer{
  background-image: url('https://static.okko.tv/images/v4/d01c6fab-23c0-465d-9554-7295514c080d?scale=1&quality=80');
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}
.DivNameAndPleer2{
  background: none;
  padding-top: 700px;
}
.Text{
  background-color: black;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 25px;
}
.Opisanie{
  background-color: black;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bold;
}
#video-box iframe {
  height: 570px;
}
.Poisk{
  border: 2px solid #696969;
  padding-left: 10px;
}
@media (max-width: 767px) {
  html, body {
     width: 100vw !important;
     min-width: 100vw !important;
     max-width: 100vw !important;
     margin: 0 !important;
     padding: 0 !important;
     overflow-x: hidden !important;
     box-sizing: border-box !important;
 }
  .DivSearch {
      width: 100%;
      margin: 0;
      padding: 0;
      height: 50px;
  }
  .DivKinoFilm{
    margin: 0;
    padding-left: 10px;
    padding-top: 3px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
  }
  .DivLink{
    display: none;
    position: absolute;
    margin: 0;
    margin-top: 50px;
    width: 100vw;
    height: 123px;
  }
  .link{
  border-top: 1px solid #696969;
  line-height:40px;
  display: block;
  text-align: center;
  margin: 0;
  }
  .FormInput{
    display: none;
  }
  .Burger{
    display: block;
    background-color: white;
  }
  .KnopkaPoisk{
    padding: 4px;
    margin-right: 10px;
    margin-top: 3px;
    display: block;
    background-color: white;
    height: 33px;
    border: 2px solid black;
    border-radius: 10px;
  }
  .DivMain{
    width: 100%;
    margin: 0;
  }
  .DivNameAndPleer{
    width: 100%;
    height: 200px;
  }
  .DivNameAndPleer2{
    padding-top: 200px;
  }
  .NameofFilm{
    margin: 0;
    font-size: 20px;
    margin-left: 10px;
  }
  .PlachkaPleerov{
    margin-left: 5px;
    width: 350px;
    align-items: center;
    font-size: 15px;
    height: 30px;
  }
  .Opisanie{
    font-size: 20px;
    padding-top: 100px;
    padding-left: 10px;
  }
  .Text{
    font-size: 12px;
    padding-left: 10px;
  }
  #video-box iframe {
    height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1180px) {
    html, body {
       width: 100vw !important;
       min-width: 100vw !important;
       max-width: 100vw !important;
       margin: 0 !important;
       padding: 0 !important;
       overflow-x: hidden !important;
       box-sizing: border-box !important;
   }
    .DivSearch {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    .DivKinoFilm{
      margin: 0;
      font-size: 50px;
      width: 200px;
    }
    .DivLink{
      margin: 0;
      width: 400px;
      padding-left: 5px;
    }
    .link{
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
    }
    .Poisk{
      border: 2px solid #696969;
    }
    .FormInput{
      background-color: blue;
    }
    .DivMain{
      width: 100%;
      margin: 0;
    }
    .DivNameAndPleer{
      width: 100%;
      height: 40vh;
      min-height: 450px;
    }
    .DivNameAndPleer2{
      padding-top: 350px;
    }
    .NameofFilm{
      margin: 0;
      font-size: 40px;
      margin-left: 20px;
    }
    .PlachkaPleerov{
      margin: 0;
      margin-top: 10px;
      margin-left: 20px;
      width: 700px;
    }
    .Opisanie{
      font-size: 30px;
      padding-top: 10px;
      padding-left: 20px;
    }
    .Text{
      font-size: 20px;
      padding-left: 20px;
    }
    .video-box{
      height: 200px;
    }
    #video-box iframe {
    height: 400px;
  }
}
@media (max-height: 450px) {
  .DivNameAndPleer{
    height: 300px;
  }
  .DivNameAndPleer2{
    padding-top: 300px;
  }
  #video-box iframe {
    height: 200px;
  }
  .DivLink{
    display: block;
  }
}
