*{
  margin: 0;
  padding: 0;
  background-color:  #141414;
}
.DivKinoFilm{
  color: black;
  font-size: 50px;
  font-family: Roboto;
  font-weight: bolder;
  background: none;
  margin-left: 90px;
  width: 500px
}
.DivKinoFilm:hover{
  transform: scale(1.1);
  color: black;
  cursor: pointer;
}
.DivSearch{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height:70px;
  background-color: white;
}
.DivLink{
  width: 900px;
  display: flex;
  background-color: white;
}
.link{
  font-family: Roboto;
  line-height: 70px;
  color: #757575;
  text-decoration: none;
  font-size: 25px;
  background: none  ;
  margin-left: 90px;
}
.link:hover{
  transform: scale(1.1);
  color: black;
}
.FormInput{
  min-width: 0;
  max-width: 30%;
  min-width: 10%;
  background-color: white;
  height: 100%;
  flex: 0 0 30%;
}
.Poisk{
  box-sizing: border-box;
  background-color: white;
  border: 1px solid white;
  height: 100%;
  width: 100%;
  font-size: 20px;
}
.Poisk::placeholder {
  font-size: 20px;
}
input::placeholder {
  font-size: 30px;
}
.DivMain{
  background-color: white;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 200px;
}
.NameofFilm{
  font-family: 'Inter', sans-serif;
  background: none;
  font-size: 70px;
  height: 50px;
  font-weight: bolder;
  line-height: 50px;
  color: white;
  margin-bottom: 30px;
}
.PlachkaPleerov{
  font-family: 'Inter', sans-serif;
  width: 900px;
  display: flex;
  height: 40px;
  background-color: #858585;
  text-align: center;
  line-height: 40px;
  font-size: 35px;
  color: white;
  background: none;
}
.Pleer{
  margin-right: 10px;
  flex-grow: 1;
  cursor: pointer;
  background: none;
  border-radius: 5px;
}
.Trailer{
  cursor: pointer;
  flex-grow: 2;
  background-color: #fa0400;
  border-radius: 5px;
}
.Pleer:first-of-type{
  background-color: #00ff0d;
}
.DivNameAndPleer{
  background-image: url('https://static.okko.tv/images/v4/d01c6fab-23c0-465d-9554-7295514c080d?scale=1&quality=80');
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}
.DivNameAndPleer2{
  background: none;
  padding-top: 700px;
}
.Text{
  background-color: black;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 25px;
}
.Opisanie{
  background-color: black;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .DivSearch{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90vw;
    height: 7vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .FormInput{
    background-color: white;
    height: 7vh;
    flex: 0 0 30%;
  }
  .link{
    font-size: 9px;
  }
  .Poisk::placeholder {
    font-size: 11px;
  }
  .DivMain{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .NameofFilm{
    font-size: 20px;
  }
  .Pleer{
    font-size: 20px;
  }
  .Trailer{
    font-size: 20px;
  }
}
  @media (min-width: 768px) and (max-width: 1180px) {
    .DivSearch{
      width: 100%;
    }
    .DivKinoFilm{
      margin: 0;
      font-size: 50px;
      width: 200px;
    }
    .DivLink{
    display: flex;
    font-size: 10px;
    width: 400px;
    }
    .link{
    margin: 0;
    }
    input::placeholder {
      font-size: 20px;
    }
    .DivSearch{
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      width: 90vw;
      height: 7vh;
      margin-left: 5vw;
      margin-right: 5vw;
    }
    .link{
      font-size: 22px;
    }
    .DivMain{
      width: 90vw;
      margin-left: 5vw;
      margin-right: 5vw;
    }
}
@media (max-height: 450px) {
  .link{
    font-size: 20px;
  }
}
@media (min-height:800px) and (min-height:900px) {
  .Opisanie{
    color: red;
  }
}
@media (min-height:900px) and (min-height:1000px) {
  .Opisanie{
    color: #ffbb00;
  }
  @media (min-height:1000px) and (min-height: 1100px) {
    .Opisanie{
      color: #ff00e6;
    }
