*{
  margin: 0;
  padding: 0;
  background-color: black;
}
#ImgKinoFilm{
  width: 30vw;
  margin-left: 35vw;
  margin-right: 35vw;
  background-color: white;
}
.DivSearch{
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 70vw;
  height: 7vh;
  margin-left: 15vw;
  margin-right: 15vw;
  border-bottom: 2px solid #9c9aa1;
}
.link{
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  flex: 1;
  text-align: center;
  white-space: nowrap;
  background-color: white;
  font-family: "Smooch Sans", sans-serif;
  font-style: normal;
  color: #9c9aa1;
  text-decoration: none;
  font-size:25px;
  height:100%;
  border-right: 2px solid #9c9aa1;
}
.FormInput{
  min-width: 0;
  max-width: 30%;
  min-width: 10%;
  background-color: white;
  height: 100%;
  flex: 0 0 30%;
}
.Poisk{
  box-sizing: border-box;
  background-color: white;
  border: 1px solid white;
  height: 100%;
  width: 100%;
  font-size: 20px;
}
.Poisk::placeholder {
  font-size: 20px;
}
input::placeholder {
  font-size: 30px;
}
.DivMain{
  background-color: white;
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
}
.NameofFilm{
  background-color:white;
  font-size: 30px;
  height: 50px;
  font-weight: bolder;
  line-height: 50px;
  margin-left: 10px;
  text-align: center;
}
.PlachkaPleerov{
  display: flex;
  height: 40px;
  background-color: #858585;
  text-align: center;
  line-height: 40px;
  font-size: 35px;
}
.Pleer{
  flex-grow: 1;
  cursor: pointer;
  background-color: #cf6000;
}
.Trailer{
  flex-grow: 2;
  background-color: #fa0400;
}
.Pleer:first-of-type{
  background-color: #00ff0d;
}
@media (max-width: 768px) {
  .DivSearch{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90vw;
    height: 7vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .FormInput{
    background-color: white;
    height: 7vh;
    flex: 0 0 30%;
  }
  .link{
    font-size: 9px;
  }
  .Poisk::placeholder {
    font-size: 11px;
  }
  .DivMain{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .NameofFilm{
    font-size: 20px;
  }
  .Pleer{
    font-size: 20px;
  }
  .Trailer{
    font-size: 20px;
  }
}
  @media (min-width: 768px) and (max-width: 1180px) {
    input::placeholder {
      font-size: 20px;
    }
    .DivSearch{
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      width: 90vw;
      height: 7vh;
      margin-left: 5vw;
      margin-right: 5vw;
    }
    .link{
      font-size: 22px;
    }
    .DivMain{
      width: 90vw;
      margin-left: 5vw;
      margin-right: 5vw;
    }
}
@media (max-height: 450px) {
  .link{
    font-size: 20px;
  }
}
