*{
  margin: 0;
  padding: 0;
  background-color: black;
}
#ImgKinoFilm{
  width: 30vw;
  margin-left: 35vw;
  margin-right: 35vw;
  background-color: white;
}
.DivSearch{
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 70vw;
  height: 7vh;
  margin-left: 15vw;
  margin-right: 15vw;
}
.link{
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  flex: 1;
  text-align: center;
  white-space: nowrap;
  background-color: white;
  font-family: "Smooch Sans", sans-serif;
  font-style: normal;
  color: #9c9aa1;
  text-decoration: none;
  font-size: 40px;
  height:100%;
  border-right: 2px solid #9c9aa1;
}
.FormInput{
  min-width: 0;
  max-width: 30%;
  min-width: 10%;
  background-color: white;
  height: 100%;
  flex: 0 0 30%;
}
.Poisk{
  box-sizing: border-box;
  background-color: white;
  border: 1px solid white;
  height: 100%;
  width: 100%;
}
input::placeholder {
  font-size: 30px;
}
@media (max-width: 768px) {
  .DivSearch{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90vw;
    height: 7vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .FormInput{
    background-color: white;
    height: 7vh;
    flex: 0 0 30%;
  }
  .link{
    font-size: 9px;
  }
  input::placeholder {
    font-size: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  input::placeholder {
    font-size: 20px;
  }
  .DivSearch{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90vw;
    height: 7vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .link{
    font-size: 25px;
  }
}
