*{
  margin: 0;
  padding: 0;
  background-color: white;
}
#ImgKinoFilm{
  width: 30vw;
  margin-left: 35vw;
  margin-right: 35vw;
}
.DivSearch{
  display: flex;
  width: 70vw;
  height: 7vh;
  margin-left: 15vw;
  margin-right: 15vw;
  background-color: red;
}
.ImageKino{
  height: 100px;
}
@media (max-width: 768px) {
  .DivSearch{
    width: 90vw;
    height: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
