@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  background-color: black;
}
img{
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.Search {
  display: block;
  width: 73%;
  margin-left: auto;
  margin-right: auto;
  height: 7vh;
  background-color: #ffffff;
}
.main{
  display: block;
  background-color: #e9e8eb;
  width: 73%;
  height: 200vh;
  margin-left: auto;
  margin-right: auto;
}
.Kino{
  display: block;
  width: 4%;
  height: 6vh ;
  margin: 4px;
  float: left;
  background-color: #ffffff;
  float: left;
}
.name{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  background-color: #ffffff;
  float: left;
  font-size: 5vh;
  line-height: 60px;
  margin-right: 10px;
}
.link{
  font-family: "Smooch Sans", sans-serif;
  font-style: normal;
  color: #9c9aa1;
  background-color: #fff;
  font-size: 30px;
  line-height: 7vh;
  text-align: center;
  float:left;
  text-decoration: none;
  width: 15%;
  height: 7vh;
}
.link:first-of-type{
border-left: #9c9aa1 solid 2px;
}
.link{
border-right: #9c9aa1 solid 2px;
}
.link:hover{
  color: #844af0;
}
input{
  float: right;
  height: 5vh;
  width: 30%;
  background-color: white;
  position: relative;
  top: 2px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD4j83Bz2imfkBaciPL9laeLvUVeBjGf_qsg&s');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 40px;
}
.IkonkaFilma{
  display: block;
  background-color: #e9e8eb;
  height: 40vh;
  width: 15%;
  margin-left: 3vh;
  padding: 2vh;
  float: left;
}

.imgIkonk{
  background-color: #e9e8eb;
  display: block;
  float:left;
  height: 33vh;
  width: 95%;
  border: 5px solid #05fbff;
}
.textIkonki{
  font-weight: bolder;
  text-align: center;
  color:#058073;
  background-color: #e9e8eb;
  float: left;
  font-size: 150%;

  cursor: pointer;
}
.LinkIkonka{
  background-color: #bdfbfc;
  opacity: 0  ;
  height: 34vh;
  width: 99%;
}
.ImageLink{
  position: relative;
  bottom: 75%;
  background-color: #bdfbfc;
  opacity: 0.5;
}
.LinkIkonka:hover{
  background-color: #bdfbfc;
  opacity: 0.5;
  cursor: pointer;
}
