@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  background-color: black;
}
img{
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.Search {
  display: flex;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  height: 8vh;
  background-color: #ffffff;
  flex-wrap: wrap;
}
.Kino{
  height: 80%;
  width: 7vh;
  margin: 0.5vh;
  background-color: #ffffff;
}
.name{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  background-color: #ffffff;
  font-size: 6vh;
  margin-right: 1%;
  max-width: 60%;
}
@media  (max-width: 1080px){
  .name{
    font-size: 6vh; }
}
.PlachkaSearch{
  display: flex;
  flex-grow: 1;
}
.link{
  font-family: "Smooch Sans", sans-serif;
  font-style: normal;
  color: #9c9aa1;
  background-color: #fff;
  font-size: clamp(160%,2vw, 2vw);
  line-height: 8vh;
  text-align: center;
  text-decoration: none;
  width: 20%;
}
.link:first-of-type{
border-left: #9c9aa1 solid 2px;
}
.link{
border-right: #9c9aa1 solid 2px;
}
.link:hover{
  color: #844af0;
}
.form{
  display: flex;
  flex-grow: 1;
}
input{
  flex-grow: 1;
  background-color: white;
  background-image: url('https://cdn-icons-png.flaticon.com/512/67/67918.png');
  background-position: 98% center;
  background-repeat: no-repeat;
  background-size: 2vw;
  font-size: clamp(160%,2vw, 2vw);
  outline: 2px solid #05fbff;
}
input:focus{
  outline: 5px solid #05fbff;
}
.main{
  background-color: #e9e8eb;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  display: flex;
  flex-wrap: wrap;
}
.IkonkaFilma{
  display: block;
  background-color: #e9e8eb;
  height: 18vw;
  width: 15%;
  margin-left: 3%;
  padding: 2%;
  margin-left: 5%;
}
.imgIkonk{
  background-color: #e9e8eb;
  display: block;
  height: 15vw;
  width: 95%;
  border: 5px solid #05fbff;
}
.textIkonki{
  font-weight: bolder;
  text-align: center;
  color:#058073;
  background-color: #e9e8eb;
  font-size: 150%;
  cursor: pointer;
}
.LinkIkonka{
  background-color: #bdfbfc;
  opacity: 0;
  height: 34vh;
  width: 99%;
}
.ImageLink{
  position: relative;
  bottom: 75%;
  background-color: #bdfbfc;
  opacity: 0.5;
}
.LinkIkonka:hover{
  background-color: #bdfbfc;
  opacity: 0.5;
  cursor: pointer;
}
@media (max-width: 1080px) {
  .IkonkaFilma{
    display: block;
    background-color: #e9e8eb;
    height: 500px;
    width: 350px;
    margin-top: 25%;
  }
  .imgIkonk{
    background-color: #e9e8eb;
    display: block;
    height: 600px;
    width: 350px;
    border: 10px solid #05fbff;
  }
  .textIkonki{
    font-weight: bolder;
    text-align: center;
    color:#058073;
    background-color: #e9e8eb;
    font-size: 40px;
    cursor: pointer;
  }
}
