@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  background-color: black;
}
img{
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.Search {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  background-color: #ffffff;
}
.main{
  display: block;
  background-color: #e9e8eb;
  width: 75%;
  height: 200vh;
  margin-left: auto;
  margin-right: auto;
}
.Kino{
  display: block;
  width: 60px;
  height: 60px;
  float: left;
  background-color: #ffffff;
  float: left;
}
.name{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  background-color: #ffffff;
  float: left;
  font-size: 40px;
  margin-left: 10px;
  line-height: 60px;
  margin-right: 10px;
}
.link{
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 406;
  font-style: normal;
  color: #9c9aa1;
  background-color: #fff;
  font-size: 30px;
  line-height: 56px;
  margin-right: 5px;
  margin-right: 5px;
  padding-right: 8px;
  padding-left: 5px;
  float:left;
  text-decoration: none;
}
.link:first-of-type{
  border-left: #9c9aa1 solid 2px;
}
.link{
border-right: #9c9aa1 solid 2px;
}
.link:hover{
  color: #844af0;
}
input{
  float: right;
  height: 50px;
  width: 350px;
  background-color: white;
  position: relative;
  top: 2px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD4j83Bz2imfkBaciPL9laeLvUVeBjGf_qsg&s');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 40px;
}
.IkonkaFilma{
  display: block;
  background-color: #e9e8eb;
  height: 360px;
  width: 200px;
  margin-left: 30px;
  padding: 20px;
  float: left;
}

.imgIkonk{
  background-color: #e9e8eb;
  display: block;
  float:left;
  height: 300px;
  width: 200px;
  border: 5px solid #05fbff;
}
.textIkonki{
  font-weight: bolder;
  text-align: center;
  color:#058073;
  background-color: #e9e8eb;
  float: left;
  font-size: 20px;
  width: 200px;
  cursor: pointer;
}
.LinkIkonka{
  background-color: #bdfbfc;
  opacity: 0  ;
  height: 310px;
  width: 210px;
}
.ImageLink{
  position: relative;
  top: -220px;
  background-color: #bdfbfc;
  opacity: 0.5;
}
.LinkIkonka:hover{
  background-color: #bdfbfc;
  opacity: 0.5;
  cursor: pointer;
}
